<%- include("header") -%>

<h2>About Us</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aspernatur ipsam consequatur, dignissimos consectetur aperiam laboriosam excepturi nostrum pariatur eligendi, modi perspiciatis quis rem! Ea animi assumenda aut dolores incidunt!</p>

<%- include("footer") -%>